body {
  font-family: Lucida Console, Monaco5, monospace;
  height: 100vh;
}

* {
  text-align: center;
  margin: 3px;
  color: slategray;
}

.app {
  width: 400px;
  margin: auto;
}

.search-bar {
  margin-top: 40px;
  width: 380px;
  padding: 10px;
  border: 2px solid slategray;
  border-radius: 2px;
  text-align: left;
}

.list-area {
  width: 100%;
  height: 400px;
  border: 2px solid slategray;
  border-radius: 2px;
  overflow-y: scroll
}

.list-item {
  position: relative;
  background-color: slategray;
  height: auto;
  min-height: 50px;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
}

.list-item > p {
  text-align: left;
  color: #D3D3D3;
}

.list-title {
  width: 80%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-body {
  word-wrap: normal;

}

.toggle-button {
  position: absolute;
  right: 8px;
  top: 0px;
  outline: none;
  border: none;
  align-content: center;
  justify-content: center;
  box-shadow: none;
  text-align: center;
  background: none;

}

.button-list {
  width: 400px;
  display: flex;
  justify-content: flex-start;
}

.button {
  background: #D3D3D3;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 2px;
  padding: 10px 16px;
  margin-left: 0px;
}

button:last-of-type {
  margin-left: auto;
  margin-right: -4px;
}

i {
  color: #D3D3D3;
}
